.project-header-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.project-header-h1 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
  width: 100%;
}

.project-header-line {
  margin-top: 20px;
  margin-bottom: 20px;
  flex-grow: 1;
  height: 2px;
  background: #7b7b7b;
}

.project-header-back {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-header-backlink {
  margin-left: 5px;
}